<div class="container">
    <h2>Task List</h2>
    <hr>
<div class="well">
  <!--<div *ngIf="isTaskSuccessfullyAdded" class="alert alert-success">
    <strong>Success!</strong> Task Added Succesfully with Id: {{taskId}}
  </div>
  <div *ngIf="isTaskSuccessfullyDeleted" class="alert alert-success">
      <strong>Success!</strong> Task Deleted Succesfully for title: {{taskTitle}}
  </div> -->
  <div class="row">
    <div class="col-sm-9 col-md-7">
      <input type="text" class="form-control" [(ngModel)]="newTask" placeholder="Add New Task"> 
    </div>
    <div>
      <button mat-mini-fab color="primary" style="font-size:2em" (click)="onTaskAdd()">+</button>
    </div>
  </div>
</div>
<hr>
<div class="container task-list">
 <div *ngFor="let task of taskList" class="row" @fade>
          <div class="col-md-2">
           <mat-checkbox #sampleNameVariable [value]="task.isDone" [checked]="task.isDone">Is Done</mat-checkbox>
           <div *ngIf="sampleNameVariable.checked">Some Detail</div>
          </div>
          <div class="col-md-5">
            <mat-form-field>
              <input matInput placeholder="Task Name"  value="{{task.title}}" />
            </mat-form-field>
          </div>
          <div class="">
            <a href="#" (click)="onDeleteTask(task)" style="margin-right:15px"><mat-icon>archive</mat-icon> </a>
            <a href="#" (click)="onDeleteTask(task)">
                <mat-icon>remove_circle</mat-icon>
              </a>
          </div>
  </div>
</div>
</div>